@font-face {
    font-family: Palanquin;
    src: url(./fonts/Palanquin/Palanquin-Regular.ttf);
}

@font-face {
    font-family: Palanquin Bold;
    src: url(./fonts/Palanquin/Palanquin-Bold.ttf);
}

@font-face {
    font-family: DarumadropOne;
    src: url(./fonts/Darumadrop_One/DarumadropOne-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* layout */
    --clr-main-bg:  #FFFAFA;
    --clr-main-accent:  #6A8BFF;
    --clr-secondary-accent: #FAC4DE;
    /* type */
    --clr-text-body:  #3F59B2;
    --clr-text-dark:  #203D7A;
    --clr-text-accent:  #6A8BFF;
    --clr-text-highlight:  #EE63E0;
}

body {
    color: var(--clr-text-body);
    font-family: Palanquin, Verdana, sans-serif;
    size: 1.5rem;
    background: var(--clr-main-bg);
}

main {
    margin: 3rem 1.25rem;
}


/* utility classes */
.spacer-y > * + * {
    margin-top: 2rem;
}

.display-font {
    font-family: DarumadropOne, Georgia, 'Times New Roman', Times, serif;
}

/* typography classes */
strong { font-family: Palanquin Bold; }

.highlight { color: var(--clr-text-highlight); }

.section-heading {
    font-family: DarumadropOne, Georgia, 'Times New Roman', Times, serif;
    color: var(--clr-main-accent);
    font-size: 2.25rem;
    /* to be replaced w squiggly */
    border-bottom: 5px var(--clr-secondary-accent) dashed;
}


/* elements */

nav {
    color: var(--clr-main-bg);
    background-color: var(--clr-main-accent);
    box-shadow: 0px 8px 0px 0px var(--clr-text-dark);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    color: var(--clr-main-bg);
    font-family: Palanquin Bold;
}

.nav-link-list {
    display: none;
    list-style: none;
}

.nav-link {
    color: var(--clr-text-dark);
    text-decoration: none;
    transition: 0.25s ease-in-out;
}

.nav-link:hover {
    color: var(--clr-main-bg);
    opacity: 0.75;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-photo {
    max-width: 15rem;
    height: auto;
    border-radius: 20px;
    box-shadow: 20px 20px 0px 0px var(--clr-secondary-accent);
}

footer {
    text-align: center;
    color: var(--clr-text-accent);
}

@media (min-width: 768px) {
    nav {
        margin: 1rem auto;
        width: 80vw;
        border-radius: 50px;
        padding: 0.5rem 4rem;
    }

    .nav-link-list {
        display: flex;
        gap: 1rem;
    }

    main {
        width: 60vw;
        margin: 3rem auto;
    }

    .about {
        position: relative;
        flex-direction: row;
        gap: 2rem;
    }

    .about-photo {
        align-self: flex-start;
    }

    .about-bg-box {
        position: absolute;
        top: 5rem;
        left: -2rem;
        width: 90%;
        height: 90%;
        border-radius: 20px;
        background-color: var(--clr-secondary-accent);
        opacity: 0.2;
        z-index: -1;
    }
}


@media (min-width: 1024px) {
    nav {
        width: 60vw;
    }

    .nav-link-list {
        gap: 2rem;
    }

    .about-bg-box {
    }
}