@font-face {
    font-family: Palanquin;
    src: url(./fonts/Palanquin/Palanquin-Regular.ttf);
}

@font-face {
    font-family: Palanquin Bold;
    src: url(./fonts/Palanquin/Palanquin-Bold.ttf);
}

@font-face {
    font-family: DarumadropOne;
    src: url(./fonts/Darumadrop_One/DarumadropOne-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

:root {
    /* layout */
    --clr-main-bg:  #fefaef;
    --clr-main-accent:  #6A8BFF;
    --clr-accent2: #FAC4DE;
    --clr-accent2-light: #FEEFF4;
    --clr-accent3: #D3E3FE;
    --clr-accent3-light: #EBEFFF;
    /* type */
    --clr-text-body:  #3F59B2;
    --clr-text-dark:  #203D7A;
    --clr-text-accent:  #6A8BFF;
    --clr-text-highlight:  #EE63E0;
    /* misc */
    --border-radius-med: 20px;
}

body {
    color: var(--clr-text-body);
    font-family: Palanquin, Verdana, sans-serif;
    /* font-size: 1.25rem; */
    background: var(--clr-main-bg);
}

main {
    margin: 3rem 1.25rem;
}

main > section + section {
    margin-top: 5rem;
}

img {
    max-width: 100vh;
    object-fit: fill;
}

a {
    /* color: inherit; */
}

/* utility classes */
.spacer-text > * + * {
    margin-top: var(--custom-space, 2rem);
}

.display-font {
    font-family: DarumadropOne, Georgia, 'Times New Roman', Times, serif;
}

.bg-accent {
    background-color: var(--clr-accent2-light);
    border-radius: var(--border-radius-med);
    mix-blend-mode: multiply;
}

/* typography classes */

strong, .bold { font-family: Palanquin Bold; }

.highlight { background-color: var(--clr-text-highlight); }

.section-heading {
    font-family: DarumadropOne, Georgia, 'Times New Roman', Times, serif;
    color: var(--clr-main-accent);
    font-size: 2.25rem;
    /* to be replaced w squiggly */
    border-bottom: 5px var(--clr-accent2) dashed;
    margin-bottom: 2rem;
}

.emphasized {
    /* text-transform: uppercase; */
    /* letter-spacing: 0.2ch; */
    color: var(--clr-text-dark);
}


/* elements */

nav {
    color: var(--clr-main-accent);
    background-color: var(--clr-main-bg);
    /* box-shadow: 0px 8px 0px 0px var(--clr-text-dark); */
    border: 2px solid var(--clr-main-accent);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    font-family: Palanquin Bold;
}

.nav-link-list {
    display: none;
    list-style: none;
}

.nav-link {
    color: var(--clr-text-dark);
    text-decoration: none;
    transition: 0.25s ease-in-out;
    letter-spacing: 0.05em;
}

.nav-link:hover {
    color: var(--clr-text-highlight);
    opacity: 0.75;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-photo {
    max-width: 15rem;
    height: auto;
    border-radius: 20px;
    box-shadow: 20px 20px 0px 0px var(--clr-accent2);
    margin-top: 2rem;
}

.projects > section + section {
    margin-top: 4rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5;
    position: relative;
    text-align: center;
    align-items: center;
    position: relative;
}

.project-text {
    --custom-space: 1rem;
    width: 100%;
}

.project-text-box {
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.project-img {
    max-width: 25rem;
    border: 1px solid var(--clr-accent3);
    border-radius: var(--border-radius-med);
}

.project-stack {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.project-stack li {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--clr-text-highlight);
    background-color: var(--clr-main-bg);
    border: 1px solid var(--clr-accent2);
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    letter-spacing: 0.1ch;
}

.contact-box {
    font-size: 1.5rem;
    text-align: center;
    padding: 3rem 2rem;
}

footer {
    text-align: center;
    color: var(--clr-text-accent);
}



@media (min-width: 768px) {
    main {
        width: 60vw;
        margin: 3rem auto;
    }

    section.container {
        min-height: 100vh;
        padding-top: 6rem;
    }

    nav {
        margin: 0rem auto;
        width: 80vw;
        border-radius: 50px;
        padding: 0.5rem 4rem;
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .nav-link-list {
        display: flex;
        gap: 1rem;
    }

    .about {
        position: relative;
        flex-direction: row;
        gap: 2rem;
    }

    .about-photo {
        align-self: flex-start;
        margin-top: 0;
    }

    .about-bg-box {
        position: absolute;
        top: 5rem;
        left: -2rem;
        width: 90%;
        height: 90%;
        z-index: -1;
    }


}


@media (min-width: 1024px) {

    nav {
        width: 60vw;
    }

    .nav-link-list {
        gap: 2rem;
    }

    .project-container {
        flex-direction: row;
        text-align: left;
    }

    .project-stack {
        justify-content: flex-start;
    }

    .project-container:nth-child(odd) {
        flex-direction: row-reverse;
        text-align: right;
    }

    .project-container:nth-child(odd) .project-stack {
        justify-content: flex-end;
    }

    .project-text, .project-img {
        align-self: flex-end;
    }

}